body{
    
}

header{
    padding: 10px;
    height: 200px;
    background-image: url(https://source.unsplash.com/1920x1080?buildings);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    color: white;
}

.imgvh{
    width: 100vw;
}

.thumbnail{
    width: calc(33.33% - 20px);
    padding: 10px;
    border: solid 4px;
    float: left; 
    margin: 10px;
}

.thumbnail-img{
    width: 100%;
}

blockquote{
    border-left: solid 5px;
    padding-left: 10px;
    font-style: italic
}

.underline {
    width: 30px;
    border-top: 3px solid;
}