@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    /*    border: solid 1px black;*/
    font-family: 'Lato', sans-serif, 微軟正黑體;
    box-sizing: border-box;
}

body {
    width: 1366px;
    margin: auto;
}

.article {
    display: inline-block;
    background-color: #94d4e3;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    margin: 50px 10px 0px 10px;
}

h1 {
    margin: 10px;
}

.contain {
    font-size: 0.9em;
    padding: 10px 50px;
    line-height: 200%;
}

.info {
    width: 1200px;
    padding-top: 30px;
}

.infotext {
    display: inline-block;
    width: 900px;
    margin-bottom: 10px;
}

.infotext>a {
    color: #94d4e3;
    font-size: 1.6em;
}

.map {
    width: 450px;
    height: 450px;
}

table,
tr,
td {
    border: solid 3px white;
    background-color: rgba(148, 212, 227, 0.08);
    padding: 5px;
    vertical-align: top;
    border-collapse: collapse;
}
